
.register{
    background-color: #ffffff;
    position: absolute;
    top: 40%;
    left: 67%;
    transform: translate(-50%,-30%);
    padding: 30px;
    color: white;
    font-family: 'Martian Mono', monospace;
    height: 515.5px;
    border-radius: 20px;
    width: 530px;
    text-align: center;
}

.login{
    background-color:#1176A8;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%,-30%);
    padding: 40px;
    font-family: 'Martian Mono', monospace;
    border-radius: 20px;
    color: white;
    height: 495.5px;
    width: 530px;
    text-align: center;
}
.all{
    background-color:#1176A8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    font-family: 'Martian Mono', monospace;
    border-radius: 20px;
    color: white;
    height: 550px;
    width: 530px;
    text-align: center;
}
input{
    text-align: center;
    border-radius: 40px;
    font-size: 40px;
    background-color: rgba(224, 49, 26, 0.9);
    font-family: 'Martian Mono', monospace;
    border-color: rgba(224, 49, 26, 0.9);
    border-style: solid;
}
input::placeholder{
    color: #fdfdfd;
}

button{
    border-radius: 30px;
    padding: 10px;
    font-size: 30px;
    color: rgb(17, 17, 17);
    background-color: #00DBAE;
    text-align: center;
    border-color: #00DBAE;
    border-style: solid;
    
}

body{
    background-image:url(LoginCadastro.png);
    background-size: cover;
}
